<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <span>Points restants à attribuer : <label>{{ hero.points }}</label></span>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
      <label for="hero-attack">Hero attack: </label>
      <input (input)="pointAttribution('attack')" type="number" [min]="1" [max]="(hero.points + hero.attack)" id="hero-attack" [(ngModel)]="hero.attack" placeholder="attack">
    </div>
    <div>
      <label for="hero-dodge">Hero dodge: </label>
      <input (input)="pointAttribution('dodge')" type="number" [min]="1" [max]="(hero.points + hero.dodge)" id="hero-dodge" [(ngModel)]="hero.dodge" placeholder="dodge">
    </div>
    <div>
      <label for="hero-damage">Hero damage: </label>
      <input (input)="pointAttribution('damage')" type="number" [min]="1" [max]="(hero.points + hero.damage)" id="hero-damage" [(ngModel)]="hero.damage" placeholder="damage">
    </div>
    <div>
      <label for="hero-health">Hero health: </label>
      <input (input)="pointAttribution('health')" type="number" [min]="1" [max]="(hero.points + hero.hp)" id="hero-health" [(ngModel)]="hero.hp" placeholder="health">
    </div>
    
  
  </div>