<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <form class="hero-form" [formGroup]="heroForm">
    <span>Points remaining to be awarded : <label>{{ 40 - this.heroForm.value.attack - this.heroForm.value.dodge - this.heroForm.value.damage - this.heroForm.value.hp }}</label></span>
    <div class="attribute-error" *ngIf="heroForm.controls['hp'].hasError('max')">
      You have only 40 points to attribute.
    </div>
    <div class="attribute-container">
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" formControlName="name" placeholder="name">
      <div class="attribute-error" *ngIf="heroForm.controls['name'].invalid">
        Name is required.
      </div>
    </div>
    <div class="attribute-container">
      <label for="hero-attack">Hero attack: </label>
      <input (input)="pointAttribut()" id="hero-attack" formControlName="attack" type="number">
      <div class="attribute-error" *ngIf="heroForm.controls['attack'].hasError('min')">
        1 point minimum is required.
      </div>
    </div>
    <div class="attribute-container">
      <label for="hero-dodge">Hero dodge: </label>
      <input (input)="pointAttribut()" id="hero-dodge" formControlName="dodge" type="number">
      <div class="attribute-error" *ngIf="heroForm.controls['dodge'].hasError('min')">
        1 point minimum is required.
      </div>
    </div>
    <div class="attribute-container">
      <label for="hero-damage">Hero damage: </label>
      <input (input)="pointAttribut()" id="hero-damage" formControlName="damage" type="number">
      <div class="attribute-error" *ngIf="heroForm.controls['damage'].hasError('min')">
        1 point minimum is required.
      </div>
    </div>
    <div class="attribute-container">
      <label for="hero-health">Hero health: </label>
      <input (input)="pointAttribut()" id="hero-health" formControlName="hp" type="number">
      <div class="attribute-error" *ngIf="heroForm.controls['hp'].hasError('min')">
        1 point minimum is required.
      </div>
    </div>
    <div class="attribute-container">      
      <label for="hero-health">Hero weapon: </label>
      <select name="weapons-select" id="weapons-select" formControlName="weapon">
        <option value="0">no weapon</option>
        <option *ngFor="let weapon of weapons" value={{weapon.id}}>{{weapon.name}}</option>
      </select>
    </div>
  </form>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="deleteHero()">delete</button>
  <button type="button" (click)="resetPoint()">reset</button>
  <button type="submit" (click)="savePoints()" [disabled]="heroForm.invalid">Save</button>
</div>
